.response{
    
    &__icon{
        margin-top: 70px;
        display: flex;
    }
    &__icons{
        width: 169px;
        height: 169px;
    }
    &__name{
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__subtitle{
        margin-top: 10px;
        font-size: 14px;
        font-weight: 300;
        color: #646464;
    }
    &__text{
        margin-top: 19px;
        font-size: 16px;
        font-weight: 300;
        color: #0d0d0d;
    }
    .response__block{
        padding: 0 0 0 62px;

    }
    hr{
        margin-top: 48px;
        width: 940px;
        height: 1px;
        background-color: #f6f6f6;
    }
    
    

}